@model HomePageModel


<section id="options">
    <div class="container">
        <h2 class="sectionHeading"><span class="subHeading">What we do</span>
            Your Options
        </h2>
        <p class="sectionDesc">Gone are the days when you had to struggle in order to find a book .With us you can read anytime your favorite e-books with no added cost or if you can not find it in our library just make a request and we will look into it.</p>
        <div class="sectionContent">
            <div class="row hoverEffect">

            <div class="col-md-4 col-sm-4">
                    <div class="item">
                        <a class="overlay" asp-area="" asp-controller="Books" asp-action="SeeRecommendations">
                            <span class="content">
                                <i class="fa fa-book"></i>
                                Recommendations
                            </span>
                            <img src="../images/user account/img1.jpg" alt="">
                        </a>
                    </div>
                </div>


            <div class="col-md-4 col-sm-4">
                    <div class="item">
                        <a class="overlay" asp-area="" asp-controller="Books" asp-action="SeeAddedBooks">
                            <span class="content">
                                <i class="fa fa-bookmark"></i>
                                To download
                            </span>
                            <img src="../images/user account/img2.jpg" alt="">
                        </a>
                    </div>
                </div>

            <div class="col-md-4 col-sm-4">
                    <div class="item">
                        <a class="overlay" asp-area="" asp-controller="Books" asp-action="AddBook">
                            <span class="content">
                                <i class="fa fa-book"></i>
                                Add book
                            </span>
                            <img src="../images/user account/imagine3.jpg" alt="">
                        </a>
                    </div>
            </div>


            
            
            </div>
        </div>
    </div> 
</section>



<section id="counting">
    <div class="container">
        <div layout="row" class="verticalStretch">

           <div class="item">
                <div class="number">@Model.AllBooksNumber</div>
                <div class="text">Books</div>
            </div>

            <div class="item">
                <div class="number">@Model.BooksDownloaded</div>
                <div class="text">Downloaded books</div>
            </div>

            <div class="item">
                <div class="number"> @Model.BooksToReadNumber</div>
                <div class="text">Books to read</div>
             </div>
    </div>
    </div>
</section>




<section id="books" style="margin-bottom:-100px;">
    <div class="container">
        <h2 class="sectionHeading">
            <span class="subHeading">Books</span>
            Top 6 best rated books
        </h2>
        <div class="sectionContent">
            
   

@{
                int counter=0;

                foreach (var b in Model.TopBooks)
{

                 if (counter%3==0)
                {
                     @:<div class="row hoverEffect"> 
                }
                    
                <div class="col-md-4 col-sm-4">
                    <div class="item">
                        <div class="overlay" href="#">
                            <div class="content">
                                

                             <div class="point-of-reference">
                                <div class="imgwrap">
                                <button  class="icon" style="color: white;background: transparent;padding: 0;border: none;" onclick="DownloadBook('@b.Name')" ><i class="mdi fa fa-download"></i></button>
                                <div class="rollover">
                                        <div class="roll-inner">
                                        <div class="roll-content">
                                                <p>Download</p>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>

                             <div class="point-of-reference">
                                <div class="imgwrap">
                                <button  class="icon" style="color: white;background: transparent;padding: 0;border: none;" onclick="seeBook('@b.BookId')" ><i class="mdi fa fa-book"></i></button>
                                <div class="rollover">
                                        <div class="roll-inner">
                                        <div class="roll-content">
                                            <p>Description</p>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>

                                <div class="point-of-reference">
                                    <div class="imgwrap">
                                        <button class="icon" formtarget="_blank" style="color: white;background: transparent;padding: 0;border: none;" onclick="ReadBook('@b.Name')"><i class="mdi fa fa-file-pdf-o"></i></button>
                                        <div class="rollover">
                                            <div class="roll-inner">
                                                <div class="roll-content">
                                                    <p>Read now</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="point-of-reference">
                                    <div class="imgwrap">
                                        <button class="icon" style="color: white;background: transparent;padding: 0;border: none;" onclick="AddToReadBooks('@b.BookId')" ><i class="mdi fa fa-bookmark"></i></button>
                                        <div class="rollover">
                                            <div class="roll-inner">
                                                <div class="roll-content">
                                                    <p>Download later</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="articleThumb">
                            <img src= "@b.PhotoPath">
                             <div class="date">
                                    <span class="number">@b.Score</span>
                                    <span class="text">Stars</span>
                              </div>
                              </div>
                            
                        </div>
                    </div>
                    <div class="info">
                        <h4 class="name">@b.Name </h4>
                        <span class="regency">by @b.Author  / @b.Type</span>

                    </div>
                </div>
         if(counter%3==2)
        {
             @:</div>
        }
       counter++;

}
}
    </div>
    </div>
</section>  


<section id="books" style="margin-bottom:-100px;">
    <div class="container">
        <h2 class="sectionHeading">
            <span class="subHeading">Books</span>
            Latest Books
        </h2>
        <div class="sectionContent">
            <div class="row hoverEffect">
   

            
@foreach (var b in Model.LatestBooks)
{
                 <div class="col-md-4 col-sm-4">
                    <div class="item">
                        <div class="overlay" href="#">
                            <div class="content">
                                

                             <div class="point-of-reference">
                                <div class="imgwrap">
                                <button  class="icon" style="color: white;background: transparent;padding: 0;border: none;" onclick="DownloadBook('@b.Name')" ><i class="mdi fa fa-download"></i></button>
                                <div class="rollover">
                                        <div class="roll-inner">
                                        <div class="roll-content">
                                                <p>Download</p>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>

                             <div class="point-of-reference">
                                <div class="imgwrap">
                                <button  class="icon" style="color: white;background: transparent;padding: 0;border: none;" onclick="seeBook('@b.BookId')" ><i class="mdi fa fa-book"></i></button>
                                <div class="rollover">
                                        <div class="roll-inner">
                                        <div class="roll-content">
                                            <p>Description</p>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>

                                <div class="point-of-reference">
                                    <div class="imgwrap">
                                        <button class="icon" formtarget="_blank" style="color: white;background: transparent;padding: 0;border: none;" onclick="ReadBook('@b.Name')"><i class="mdi fa fa-file-pdf-o"></i></button>
                                        <div class="rollover">
                                            <div class="roll-inner">
                                                <div class="roll-content">
                                                    <p>Read now </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="point-of-reference">
                                    <div class="imgwrap">
                                        <button class="icon" style="color: white;background: transparent;padding: 0;border: none;" onclick="AddToReadBooks('@b.BookId')" ><i class="mdi fa fa-bookmark"></i></button>
                                        <div class="rollover">
                                            <div class="roll-inner">
                                                <div class="roll-content">
                                                    <p>Download later</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="articleThumb">
                            <img src= "@b.PhotoPath">
                             <div class="date">
                                    <span class="number">@b.Added.Day</span>
                                    <span class="text">@b.Added.ToString("MMM")</span>
                              </div>
                              </div>
                            
                        </div>
                    </div>
                    <div class="info">
                        <h4 class="name">@b.Name </h4>
                        <span class="regency">by @b.Author  / @b.Type</span>

                    </div>
                </div>
}

  
    </div>
    </div>
    </div>
</section>  

@if (TempData["errorRecommend"]!=null)
{
<script type="text/javascript">
window.onload = function(){
    alert("Download at least one book in order to see recommendations");
}
</script>
}

<script>

 function AddToReadBooks(Id)
    {
        var values={id:Id};
        $.post("/Books/AddToReadBooks", values, function (result)
        {  
            alert(result.isAdded);
           
    });
    }

     function seeBook(id)
    {
        location.href = '@Url.Action("UpdateBook", "Rating" , new {id = "ID"})'.replace("ID",id);

    }


    function DownloadBook(_name)
    {
        location.href = '@Url.Action("Download", "Books" , new {name = "_name"})'.replace("_name",_name);
    }


    function ReadBook(_name)
    {
        location.href = '@Url.Action("ReadPdf", "Books" , new {name = "_name"})'.replace("_name",_name);
    }

</script>

